
$greenFont: #0ce682;
$ptFont: 'PT Sans', sans-serif;
$robotoFont: 'Roboto', sans-serif;
$poppinsFont: 'Poppins', sans-serif;
$episodeBarColor: rgba(255,255,255,0.2);
$whiteIsh: rgba(217, 217, 217, 1);
$lightBorder: rgba(255,255,255,0.1);
$darkFont: #1a171a;
$optionsColor: rgba(255, 255, 255, 0.8);